---
title: Sirv REST API Documentation - Reference Guide

language_tabs: # must be one of https://git.io/vQNgJ
  - shell: cURL
  - python: Python
  - javascript--node: Node.js
  - javascript: JavaScript
  - java: Java
  - php: PHP
  - ruby: Ruby
  - swift: Swift
  - go: Go
  - csharp: C#

toc_footers:
  - <a href='https://sirv.com/help/articles/sirv-rest-api/'>More Sirv API examples</a>
  - <a href='https://sirv.com/help/'>Help Center</a>
  - <a href='https://sirv.com/'>Sirv Homepage</a>
  - <a href='https://sirv.com/contact/'>Contact us</a>

search: true

code_clipboard: true
---

# Getting started

The Sirv API gives you 40+ popular commands for your Sirv account. Upload files, search files, rename files, add meta, get folder contents and more.

First, please create an API client...

# API client

To use the Sirv REST API, start by creating an API client from the <a href="https://my.sirv.com/#/account/settings/api" target="_blank" rel="noopener noreferrer">API settings page</a> of your Sirv account:

![Create API Client](https://sirv.sirv.com/website/screenshots/sirv-api-client-create.png?profile=screenshots-grey-border)

Once created, you'll see your Client ID and Client Secret:

![API Client Credentials](https://sirv.sirv.com/website/screenshots/sirv-api-client-list.png?profile=screenshots-grey-border)

# Connect to Sirv API

The first step in using the API is to obtain a bearer token. Once you have that token, you'll be able to use any of the 40+ API methods listed further down this page.

<%= partial "includes/api/methods/postToken.md" %>

<%= partial "includes/api/account.md.erb" %>
<%= partial "includes/api/user.md.erb" %>
<%= partial "includes/api/stats.md.erb" %>
<%= partial "includes/api/files.md.erb" %>
