---
title: Sirv API Reference

language_tabs: # must be one of https://git.io/vQNgJ
  - shell: cURL
  - python: Python
  - javascript--node: Node.js
  - javascript: JavaScript
  - java: Java
  - php: PHP
  - ruby: Ruby
  - swift: Swift
  - go: Go
  - csharp: C#

toc_footers:
  - <a href='https://sirv.com/help/articles/sirv-rest-api/'>More Sirv API examples</a>
  - <a href='https://sirv.com/help/'>Help Center</a>
  - <a href='https://sirv.com/'>Sirv Homepage</a>
  - <a href='https://sirv.com/contact/'>Contact us</a>

search: true

code_clipboard: true
---

# Getting started

The first time you use the Sirv REST API, create an API client, then connect to Sirv. Once connected, you can use over 30 API methods.

# API client

To use the Sirv REST API, create an API client from the <a href="https://my.sirv.com/#/account/settings" target="_blank" rel="noopener noreferrer">Settings page of your Sirv account</a>:

![Create API Client](https://sirv.sirv.com/website/screenshots/sirv-api-client-create.png?profile=screenshots-grey-border)

Once created, you'll see your Client ID and Client Secret:

![API Client Credentials](https://sirv.sirv.com/website/screenshots/sirv-api-client-list.png?profile=screenshots-grey-border)

# Connect to Sirv API

Each API call must be authenticated with a bearer token (JSON Web Token).
You can get a token with a POST request. Use the token with the Sirv REST API methods listed below.
When the token expires (see the expiresIn field, in seconds), you should request a new token.

<%= partial "includes/api/methods/postToken.md" %>

<%= partial "includes/api/account.md.erb" %>
<%= partial "includes/api/user.md.erb" %>
<%= partial "includes/api/stats.md.erb" %>
<%= partial "includes/api/files.md.erb" %>
